$font: Roboto;
$green: #0EC261;
$black_text: #121212;
$gray_text: #999;
$footer: #151B1F;

.main{
  flex: 1 1 688px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding-left: 64px;
  padding-right: 64px;
  
  .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;

    .location{
      display: flex;
      justify-content: space-between;
      align-items: center; 

      img{
        margin-right: 8px;
      }
      .location_city{
        font-family: $font;
        font-size: 14px;
        color: $gray_text;
      }
    }
    .top_logo{
      color: $green;
      font-family: $font;
      font-size: 30px;
      line-height: 35px;
    }
  }


  .content{
    flex-grow: 1;

    .title{
      margin: 163px 0 34px;   

      h1, p{
        font-size: 70px;
        line-height: 66px;
        color: $black_text;
      }
      h1{
        color: $green;
        margin-top: 4px;
      }

      @media (min-width: 1440px) { 
        margin-top: 227px;
      }
    }

    .text{
      font-weight: 300;
      font-size: 26px;
      line-height: 30px;
      color: $gray_text;
      margin-bottom: 60px;
    }
    .btn{
      width: 250px;
      height: 48px;
      background: linear-gradient(90deg, $green 2.61%, #039F67 112.6%);
      background-blend-mode: darken;
      border: none;
      border-radius: 8px;
      font-family: $font;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      
      &:hover{
        background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
      }

    }
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 32px;

    .copy{
      font-family: $font;
      font-size: 13px;
      line-height: 15px;
      color: $gray_text;
    }
    .phone{
      font-family: $font;
      font-size: 13px;
      line-height: 15px;
      color: $black_text;
      text-decoration: none;
      
      &:hover{
        color:$green;
      }
    }
    
  }

  @media (max-width: 592px) { 
    padding: 0;
    .top{
      flex-direction: column;
      align-items: flex-end;
      margin-top: 16px;
      margin-right: 16px;
      .location_city{
        margin-top: 8px;
        line-height: 16px;
      }
    }
    .content{
      flex-grow: 1;

      .title{
        margin: 112px 16px 16px;
        p, h1{
          font-size: 32px;
          line-height: 100%;
        }
      }
      .text{
        font-size: 18px;
        line-height: 21px;
        margin: 0 16px 32px;
      }
      .btn{
        width: 100%;
        border-radius: 0;
        height: 50px;
      }
    }
    .footer{
      background: $footer;
      flex-direction: column-reverse;
      align-items: flex-end;
      margin: 0;
      
      
      padding: 16px 0;
      line-height: 15px;
      .phone{
        color: $green;
        margin-right: 16px;      
      }
      .copy{
        color: #eee;
        margin-right: 16px;
        margin-top: 8px;
      }
    }
  }
}
