$font: Roboto;
$green: #0EC261;
$black_fon: #151B1F;

.burger{
  flex:  0 0 64px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $black_fon;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img{
    cursor: pointer;
    margin-top: 32px;
  }
  .substrate {
    flex: 1 2 688px;
  }
  .language{  
    color: $green;
    font-family: $font;
    font-size: 13px;
    cursor: pointer;
    
    p{
      cursor: pointer;
      margin-bottom: 32px;
    }
  }

}
.menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;

  .close{
    background: #111518;
    padding: 40px 0 0 24px;
    flex: 0 0 64px;
    cursor: pointer;
  }
  .black_container{
    background: #111518;
    height: 100%;
    flex: 1 1 938px;
    @media (max-width: 1390px) {
      flex: 1 1 1000px;
    }


    .link{
      padding: 243px 0 38px 128px;
      font-family: $font;
      font-size: 32px;
      line-height: 37px;
      text-transform: uppercase;
  
      a{
        text-decoration: none;
        color: #fff;
        
      }
      a:hover{
        color: $green;
      }
    }
  
    .social{
      display: flex;
      justify-content: flex-start;
      padding-left: 128px;
      
      img{
        margin-right: 24px;
        cursor: pointer;
      }
    }
  }
  
  


  .op_container{
    flex: 1 2 688px;
    background: rgba(21, 27, 31, 0.81);
  
    @media screen and (max-width: 1360px) {
      width: 410px;
    }
    @media screen and (max-width: 1020px) {
       display: none;
    }
  }
  
}
.opened{
  display: flex;
}
.closed{
  display: none;
}
.btnMenuMobile{
  display: none;
}
.language_mobile{
  display: none;
}

@media (max-width: 592px) { 
  .burger{
    display: none;
    padding: 0;
  }  
  
  .btnMenuMobile{
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1000;
  }
  .menu{
    .black_container{
      .close{
        padding: 28px 0 36px 28px;
      }
      .link{
        padding: 0 0 38px 28px;
        font-weight: 500;
        font-size: 22px;
      }
      .social{
        padding-left: 28px;
      }

      .language_mobile{
        display: block;
        position: absolute;
        bottom: 32px;
        left: 32px;
        z-index: 10;
        color: $green;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  
}


